<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<a th:href="@{/}">Home</a>
	<h1>Cadastro</h1>
	<form th:action="@{/cadastro}" method="post" th:object="${cliente}">
		<label>Id</label>
		<input type="text" th:field="*{id}" readonly/>
		
		<label for="idnome">Nome</label>
		<input id="idnome" type="text" placeholder="Informe nome" th:field="*{nome}"/>
		
		<label for="idfone">Telefone</label>
		<input id="idfone" type="text" placeholder="Informe fone" th:field="*{telefone}"/>
		
		<label for="idemail">Email</label>
		<input id="idemail" type="text" placeholder="Informe email" th:field="*{email}"/>
		
		<label for="idcep">CEP</label>
		<input id="idcep" type="text" placeholder="Informe cep" th:field="*{cep}"/>
		
		<label for="idlogradouro">Logradouro</label>
		<input id="idlogradouro" type="text" placeholder="Informe logradouro" th:field="*{logradouro}"/>
		
		<label for="idnumero">Numero</label>
		<input id="idnumero" type="text" placeholder="Informe numero" th:field="*{numero}"/>
		
		<label for="idcomplemento">Complemento</label>
		<input id="idcomplemento" type="text" placeholder="Informe complemento" th:field="*{complemento}"/>
		
		<label for="idbairro">Bairro</label>
		<input id="idbairro" type="text" placeholder="Informe bairro" th:field="*{bairro}"/>
		
		<label for="idestado">Estado</label>
		<input id="idestado" type="text" placeholder="Informe estado" th:field="*{estado}"/>
		
		<label for="idperfil">Perfil</label>
		<input id="idperfil" type="text" placeholder="Informe perfil" th:field="*{perfil}"/>
		
		<label for="idsenha">Senha</label>
		<input id="idsenha" type="text" placeholder="Informe senha" th:field="*{senha}"/>
		
		<button>Salvar</button>
		<button th:href="@{/consulta}">Consulta</button>
		
	</form>
</body>
</html>